<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="../css/common/mui.picker.css">
	<link rel="stylesheet" type="text/css" href="../css/common/mui.css">
    <link rel="stylesheet" href="../css/common/reset.css"/>
    <link rel="stylesheet" href="../css/common/loading.css"/>
    <link rel="stylesheet" href="../css/common/tip.css"/>
    <link rel="stylesheet" href="../css/condition.css"/>
	<title>配餐条件</title>

</head>
<body class="pb98" >
	<div class="tip" style="display: none;">
    	<div class="tipBox animated">
	        <p></p>
    	</div>
    </div>
	<div class="containerBox" id="containerBox" >
		<div class="writeBox mtb24 messageBox">
			<h2>基础信息</h2>
			<div class="messagelist">
				<div class="messageDiv" v-if="userInfoNeed.userName==0">
					<span>您的姓名</span>
					<input type="text" placeholder="您的姓名" class="inputBox" id="userName"  v-model.trim="userName">
				</div>
				<div class="messageDiv" v-if="userInfoNeed.age==0">
					<span class="mt8">出生日期</span>
					<input type="text" placeholder=" " id="birthday" @click="showDate()" class="selectInput" readonly unselectable="on" v-model.trim="age">
				</div>
				<div class="messageDiv" v-if="userInfoNeed.sex==0">
					<span>您的性别</span>
					<p class="radioInput">
						<label for="nan" class="defaultInput" @click = "bindCheckedInput('radio','sex','1')" :class="{checkedInput:'1'== currentSex}">男</label>
						<label for="nv" class="defaultInput" @click = "bindCheckedInput('radio','sex','2')" :class="{checkedInput:'2'== currentSex}">女</label>
					</p>
				</div>
				<div class="messageDiv" v-if="userInfoNeed.pregnancyPeriod==0">
						<span class="mt8">怀孕周期</span>
						<input type="text" placeholder=" " @click="showPregnancy()" id="pregnancy" class="selectInput" readonly unselectable="on" v-model.trim="pregnancyPeriod">
					</div>
				<div class="messageDiv" v-show="false">
					<span class="mt8">民族</span>
					<input type="text" placeholder=" " @click="showNation()" id="nation" class="selectInput" readonly unselectable="on" v-model.trim="nation">
				</div>
				<div class="messageDiv"  v-if="userInfoNeed.address==0">
					<span class="mt8">所在地</span>
					<input type="text" placeholder=" " @click="showRegion()" id="region" class="selectInput" readonly unselectable="on" v-model.trim="address">
				</div>

			</div>
		</div>

		<div class="writeBox mtb24 messageBox">
			<h2>体质信息</h2>
			<div class="messagelist">
				<div class="messageDiv" v-if="userInfoNeed.height==0">
					<span>身高（cm）</span>
					<input type="text" placeholder="您的身高" class="inputBox" id="height" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" v-model.trim="height"  min="100" max="250">
				</div>
				<div class="messageDiv" v-if="userInfoNeed.weight==0">
					<span>体重（kg）</span>
					<input type="text" placeholder="您的体重/公斤" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" id="" class="inputBox" id="weight" v-model.trim="weight"  min="25" max="199">
				</div>
				<div class="messageDiv" v-if="userInfoNeed.diabetesPeople==0">
					<span class="mt8">糖尿病人群分类</span>
					<input type="text" placeholder=" " id="peopleSort" @click="showPeople()" class="selectInput" readonly unselectable="on" v-model.trim="diabetesPeople">
				</div>

			</div>
		</div>

		<div class="writeBox mtb24 messageBox">
			<h2>饮食推荐</h2>
			<div class="messagelist">
				<!-- 所有慢病配餐，包括之前开发完成的，配餐条件暂时隐藏饮食推荐中的两个条件，
					食物偏好和不吃食材，待AI算法调整后，再行添加 -->
				<!-- <div class="messageDiv" v-if="userInfoNeed.preference==0">
					<span class="mt22">食物偏好</span>
					<p class="radioInput inputList">
						<label>
							<input type="checkbox" value="0" v-model="foodPreference" name="0" />
							<i>清淡</i>
						</label>
						<label>
							<input type="checkbox" value="1" v-model="foodPreference" name="1" />
							<i>甜</i>
						</label>
						<label>
							<input type="checkbox" value="2" v-model="foodPreference" name="2" />
							<i>辣</i>
						</label>
						<label>
							<input type="checkbox" value="3" v-model="foodPreference" name="3" />
							<i>咸</i>
						</label>
					</p>
				</div>
				<div class="messageDiv" v-if="userInfoNeed.notEat==0">
					<span>不吃食材</span>
					<input type="text" placeholder="您不喜欢吃的食材" id="notEat" class="inputBox" v-model.strim="notEatInput" v-show="notEat.length<3">
					
					<div class="currentNotEatBox currentNotEatBox1" v-show="notEat.length>=3">
						<ul>
							<li v-for="(item,index) in notEat" @click="del(index)" :key="index">{{item}}</li>
						</ul>
					</div>
				</div>
				<div class="loding-nocat"></div>
				<div class="notEatShowBox" v-show="isShowNotEatBox">
					<ul>
						<li v-for="(item,index) in foodList" :key="index" @click="foodNameSelected(item)">{{item.foodData.foodName | foodNameFilters}}</li>
					</ul>
				</div>
				<div class="currentNotEatBox currentNotEatBox2" v-show="notEat.length<3">
					<ul>
						<li v-for="(item,index) in notEat" @click="del(index)" :key="index">{{item}}</li>
					</ul>
				</div> -->

				<div class="messageDiv" v-if="userInfoNeed.userActivityLevel==0">
					<span class="mt22">劳动强度</span>
					<p class="radioInput inputList">
						<label for="nan" class="defaultInput" @click = "bindCheckedInput('radio','userActivityLevel','0')" :class="{checkedInput:'0'== currentUserActivityLevel}">极轻</label>
						<label for="nv" class="defaultInput" @click = "bindCheckedInput('radio','userActivityLevel','1')" :class="{checkedInput:'1'== currentUserActivityLevel}">轻度</label>
						<label for="nv" class="defaultInput" @click = "bindCheckedInput('radio','userActivityLevel','2')" :class="{checkedInput:'2'== currentUserActivityLevel}">中度</label>
						<label for="nv" class="defaultInput" @click = "bindCheckedInput('radio','userActivityLevel','3')" :class="{checkedInput:'3'== currentUserActivityLevel}">重度</label>
					</p>
				</div>
				<div class="messageDiv">
					<span class="mt22">配餐种类</span>
					<p class="radioInput inputList">
						<label class="defaultInput checkedInput">
							<input type="checkbox" value="" v-model="meals" checked disabled />
							早餐
						</label>
						<label>
							<input type="checkbox" value="4" v-model="meals" />
							<i>早加</i>
						</label>
						<label class="defaultInput checkedInput">
							<input type="checkbox" value="" v-model="meals" checked disabled />
							午餐
						</label>
						<label>
							<input type="checkbox" value="5" v-model="meals" />
							<i>午加</i>
						</label>
						<label class="defaultInput checkedInput">
							<input type="checkbox" value="" v-model="meals" checked disabled />
							晚餐
						</label>
						<label>
							<input type="checkbox" value="6" v-model="meals" />
							<i>晚加</i>
						</label>
					</p>
				</div>

			</div>
		</div>
		<div class="butBoxFixed">
			<span class="" @click="toIndex()">首页</span>
			<span :class="{active:isActive}" @click="submit()">下一步</span>
		</div>
	</div>
<script src="../js/libs/jquery-1.10.1.min.js"></script>
<script src="../js/libs/vue.min.js"></script>
<script src="../js/libs/jsrsasign-all-min.js"></script>
<script src=".././config.js"></script>
<script src="../js/common.js"></script>
<script src="../js/libs/mui.min.js"></script>
<script src="../js/libs/mui.picker.min.js"></script>
<script src="../js/data.city.js"></script>
<script src="../js/condition.js"></script>
</body>
</html>
