<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="../css/common/reset.css"/>
    <link rel="stylesheet" href="../css/common/loading.css"/>
    <link rel="stylesheet" href="../css/common/tip.css"/>
    <link rel="stylesheet" href="../css/estimate.css"/>
    <title>估算食物重量</title>
</head>
<body>
	<div class="tip" style="display: none;">
    	<div class="tipBox animated">
	        <p></p>
    	</div>
    </div>
	<div class="containerBox" id="containerBox" >
		<div class="estimateBox">
			<ul>
				<li :class="(index===actIdx)?'activeLi':''" @click="estimateSort(item,index)" v-for="(item,index) in estimateList.title">{{item}}</li>
			</ul>
			<div class="estimateBoxR" v-show="index===actIdx" v-for="(item,index) in estimateList.imgList">
				<dl v-for="items in item">
					<dt><img :src="items.imgUrl"></dt>
					<dd>{{items.mark}}</dd>
					<dd class="hot">{{items.hot}}</dd>
				</dl>
			</div>
		</div>
	</div>
	<script src="../js/libs/jquery-1.10.1.min.js"></script>
	<script src="../js/libs/vue.min.js"></script>
	<script src="../js/libs/echarts.min.js"></script>
	<script src=".././config.js"></script>
	<script src="../js/libs/jsrsasign-all-min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/estimate.js"></script>
</body>
</html>