<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="../css/common/reset.css"/>
    <link rel="stylesheet" href="../css/common/loading.css"/>
    <link rel="stylesheet" href="../css/common/tip.css"/>
    <link rel="stylesheet" href="../css/recipes.css"/>
    <title>配餐</title>
</head>
<body class="pb98">
	<div class="loading">
		<div class="loadingBox"></div>
	</div>
	<div class="tip" style="display: none;">
    	<div class="tipBox animated">
	        <p></p>
    	</div>
    </div>
	<div class="containerBox" id="containerBox" >
		<div class="writeBox mtb24 messageBox">
			<h2>一周食谱<span>（{{dateRangeStart | fomatDateHZ}}-{{dateRangeEnd | fomatDateHZ}}）</span></h2>
			<div class="weekRecipes">
				<ul>
					<li v-for="item in recipesInfo.recipes" :class="{past:item.isCurDay=='1'}" @click="recipesList(recipesInfo.recipesId,item.recipesDate,openIdItem)">
						<span>{{item.recipesDate | fomatDateHZ}}<i v-show="item.isCurDay == '2'">（今日食谱）</i></span>
						<p>{{item.heat}}大卡<img src="image/icon/jt.png"></p>
					</li>
				</ul>
				<!-- <div class="btn" @click="reference()">营养目标</div>	 -->
			</div>
		</div>
		<div class="writeBox mtb24 messageBox">
			<div class="ruleList">
				<h3>饮食原则</h3>
				<ul>
					<li v-for="item in dietPrincipleDetl">{{item}} </li>
				</ul>
			</div>
		</div>
	
		<div class="butBoxFixed">
			<span class="" @click="toIndex()">首页</span>
			<span :class="{active:isActive}" @click="resetRecipes()">重新配餐</span>
		</div>

		<div class="conformBox toast" @click="shutDown()" v-show="isShowBox">
			<div class="containerBoxnr">
				<img src="image/icon/gb.png" @click="shutDown()">
				<dl>
					<dt>您确定重新配餐吗？</dt>
					<dd><span class="cancle" @click="shutDown()">取消</span><span @click="sure()">确定</span></dd>
				</dl>
			</div>
		</div>
		
	</div>
	<script src="../js/libs/jquery-1.10.1.min.js"></script>
	<script src="../js/libs/vue.min.js"></script>
	<script src=".././config.js"></script>
	<script src="../js/libs/jsrsasign-all-min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/todayfood.js"></script>
</body>
</html>

