<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="css/common/reset.css"/>
    <link rel="stylesheet" href="css/common/loading.css"/>
    <link rel="stylesheet" href="css/common/tip.css"/>
    <link rel="stylesheet" href="css/recipelist.css"/>
    <title>今日食谱</title>
</head>
<body class="pb98">
	<div class="loading">
		<div class="loadingBox"></div>
	</div>
	<div class="tip" style="display: none;">
    	<div class="tipBox animated">
	        <p></p>
    	</div>
    </div>
	<div  v-cloak class="containerBox" id="containerBox" >
		<div class="titleBtn" @click="currentMaterial(recipesDate,recipesId)"><img src="image/icon/cksc.png">查看食材</div>

		<div class="writeBox mtb24 messageBox" v-show="breakfast.foodList && breakfast.foodList.length>0">
			<h4 class="recipelistTit"><span>早餐</span><p>{{breakfast.heat}}大卡</p></h4>
			<div class="recipelist">
				<ul>
					<li v-for="(item,index) in breakfast.foodList" :key="index" @click="changeRecipe(item,breakfast.mealType)">
						<p>
							<img :src="item.imageUrl">
							<span>{{item.foodName}}<i>{{item.foodHeat}}大卡/{{item.foodCount}}{{item.unit}}</i></span>
						</p>
						<img src="image/icon/sx.png">
					</li>
				</ul>
			</div>
		</div>
		<div class="writeBox mtb24 messageBox" v-show="breakfastAddition.foodList && breakfastAddition.foodList.length>0">
			<h4 class="recipelistTit"><span>早加</span><p>{{breakfastAddition.heat}}大卡</p></h4>
			<div class="recipelist">
				<ul>
					<li v-for="(item,index) in breakfastAddition.foodList" :key="index" @click="changeRecipe(item,breakfastAddition.mealType)">
						<p>
							<img :src="item.imageUrl">
							<span>{{item.foodName}}<i>{{item.foodHeat}}大卡/{{item.foodCount}}{{item.unit}}</i></span>
						</p>
						<img src="image/icon/sx.png">
					</li>
				</ul>
			</div>
		</div>
		<div class="writeBox mtb24 messageBox" v-show="lunch.foodList && lunch.foodList.length>0">
			<h4 class="recipelistTit"><span>午餐</span><p>{{lunch.heat}}大卡</p></h4>
			<div class="recipelist">
				<ul>
					<li v-for="(item,index) in lunch.foodList" :key="index" @click="changeRecipe(item,lunch.mealType)">
						<p>
							<img :src="item.imageUrl">
							<span>{{item.foodName}}<i>{{item.foodHeat}}大卡/{{item.foodCount}}{{item.unit}}</i></span>
						</p>
						<img src="image/icon/sx.png">
					</li>
				</ul>
			</div>
		</div>
		<div class="writeBox mtb24 messageBox" v-show="lunchAddition.foodList && lunchAddition.foodList.length>0">
			<h4 class="recipelistTit"><span>午加</span><p>{{lunchAddition.heat}}大卡</p></h4>
			<div class="recipelist">
				<ul>
					<li v-for="(item,index) in lunchAddition.foodList" :key="index" @click="changeRecipe(item,lunchAddition.mealType)">
						<p>
							<img :src="item.imageUrl">
							<span>{{item.foodName}}<i>{{item.foodHeat}}大卡/{{item.foodCount}}{{item.unit}}</i></span>
						</p>
						<img src="image/icon/sx.png">
					</li>
				</ul>
			</div>
		</div>
		<div class="writeBox mtb24 messageBox" v-show="dinner.foodList && dinner.foodList.length>0">
			<h4 class="recipelistTit"><span>晚餐</span><p>{{dinner.heat}}大卡</p></h4>
			<div class="recipelist">
				<ul>
					<li v-for="(item,index) in dinner.foodList" :key="index" @click="changeRecipe(item,dinner.mealType)">
						<p>
							<img :src="item.imageUrl">
							<span>{{item.foodName}}<i>{{item.foodHeat}}大卡/{{item.foodCount}}{{item.unit}}</i></span>
						</p>
						<img src="image/icon/sx.png">
					</li>
				</ul>
			</div>
		</div>
		<div class="writeBox mtb24 messageBox" v-show="dinnerAddition.foodList && dinnerAddition.foodList.length>0">
			<h4 class="recipelistTit"><span>晚加</span><p>{{dinnerAddition.heat}}大卡</p></h4>
			<div class="recipelist">
				<ul>
					<li v-for="(item,index) in dinnerAddition.foodList" :key="index" @click="changeRecipe(item,dinnerAddition.mealType)">
						<p>
							<img :src="item.imageUrl">
							<span>{{item.foodName}}<i>{{item.foodHeat}}大卡/{{item.foodCount}}{{item.unit}}</i></span>
						</p>
						<img src="image/icon/sx.png">
					</li>
				</ul>
			</div>
		</div>

		<div class="butBoxFixed">
			<span class="" @click="toIndex()">首页</span>
			<span :class="{active:isActive}" @click="generateRecipes()">返回</span>
		</div>
	</div>
	<script src="../js/libs/jquery-1.10.1.min.js"></script>
	<script src="../js/libs/vue.min.js"></script>
	<script src="../js/libs/echarts.min.js"></script>
	<script src="../js/libs/jsrsasign-all-min.js"></script>
	<script src=".././config.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/recipelist.js"></script>
</body>
</html>
