<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="../css/common/reset.css"/>
    <link rel="stylesheet" href="../css/common/loading.css"/>
    <link rel="stylesheet" href="../css/common/tip.css"/>
	<link rel="stylesheet" href="../css/reference.css"/>
	<link rel="stylesheet" href="../css/fontcss/iconfont.css"/>
    <title>营养目标</title>
</head>
<body class="pb98" >
	<!-- <div class="loading">
		<div class="loadingBox"></div>
	</div> -->
	<div class="tip" style="display: none;">
    	<div class="tipBox animated">
	        <p></p>
    	</div>
    </div>
	<div class="containerBox" id="containerBox" v-cloak>
		<div class="writeBox mtb24 messageBox">
			<h2 class="line-auto"> <em class="dian-icon iconfont icon-meiriyingyang-biaotiqian-"></em>  每日营养目标</h2>
			<div class="referencelist">
				<div class="goat">
					<div class="echarts">
						<div id="eneryRatio"></div>
						<span>三餐能量<br/>占比</span>
					</div>
					<div class="echarslist">
						<ul>
							<li v-for = "item in dataShowList"><span :style="{backgroundColor:item.color}"></span>{{item.name}} {{item.value*100}}%</li>
							
						</ul>
					</div>
				</div>				
			</div>
		</div>
		<div class="writeBox mtb24 messageBox" v-show="isShowReference">
			<h2 class="line-auto"><em class="dian-icon iconfont icon-meiriyingyang-biaotiqian-"></em>每日营养参考数据</h2>
			<div class="referencelist">
				<dl class="heat">
					<dt><span>总能量</span><i>{{heat}}Kcal</i></dt>
					<dd><span>蛋白质</span><i>{{protein}}g</i></dd>
					<dd><span>脂肪</span><i>{{fat}}g</i></dd>
					<dd><span>碳水化合物</span><i>{{carbohydrate}}g</i></dd>
					<dd v-if="cholesterol"><span>胆固醇</span><i>{{cholesterol}}mg</i></dd>
				</dl>	
				<dl>
					<dt><p>矿物质</p></dt>
					<dd v-if="mineral.potassium"><span>钾</span><i>{{mineral.potassium}}mg</i></dd>
					<dd v-if="mineral.selenium"><span>硒</span><i>{{mineral.selenium}}ug</i></dd>
					<dd v-if="mineral.iodine"><span>碘</span><i>{{mineral.iodine}}ug</i></dd>
					<dd v-if="mineral.calcium"><span>钙</span><i>{{mineral.calcium}}mg</i></dd>
					<dd v-if="mineral.iron"><span>铁</span><i>{{mineral.iron}}mg</i></dd>
					<dd v-if="mineral.zinc"><span>锌</span><i>{{mineral.zinc}}mg</i></dd>
					<dd v-if="mineral.manganese"><span>锰</span><i>{{mineral.manganese}}mg</i></dd>
					<dd v-if="mineral.magnesium"><span>镁</span><i>{{mineral.magnesium}}mg</i></dd>
					<dd v-if="mineral.chromium"><span>铬</span><i>{{mineral.chromium}}ug</i></dd>
					<dd v-if="mineral.sodium"><span>钠</span><i>{{mineral.sodium}}mg</i></dd>
				</dl>	
				<dl>
					<dt><p>维生素</p></dt>

					<dd v-if="vitamin.pantothenicAcid"><span>泛酸</span><i>{{vitamin.pantothenicAcid}}mg</i></dd>
					<dd v-if="vitamin.niacin"><span>烟酸</span><i>{{vitamin.niacin}}mg</i></dd>
					<dd v-if="vitamin.biotin"><span>生物素</span><i>{{vitamin.biotin}}ug</i></dd>
					<dd v-if="vitamin.vitaminB6"><span>维生素B6</span><i>{{vitamin.vitaminB6}}mg</i></dd>
					<dd v-if="vitamin.vitaminB12"><span>维生素B12</span><i>{{vitamin.vitaminB12}}ug</i></dd>		
					<dd v-if="vitamin.vitaminC"><span>维生素C</span><i>{{vitamin.vitaminC}}mg</i></dd>
					<dd v-if="vitamin.vitaminA"><span>维生素A</span><i>{{vitamin.vitaminA}}ug</i></dd>
					<dd v-if="vitamin.vitaminB1"><span>维生素B1</span><i>{{vitamin.vitaminB1}}mg</i></dd>
					<dd v-if="vitamin.vitaminD"><span>维生素D</span><i>{{vitamin.vitaminD}}ug</i></dd>
					<dd v-if="vitamin.vitaminE"><span>维生素E</span><i>{{vitamin.vitaminE}}mg</i></dd>
					<dd v-if="vitamin.vitaminB2"><span>维生素B2</span><i>{{vitamin.vitaminB2}}mg</i></dd>
					<dd v-if="vitamin.vitaminK"><span>维生素K</span><i>{{vitamin.vitaminK}}ug</i></dd>
					
					<dd v-show="isShowYS"><span>叶酸</span><i>{{folicAcid}}ug</i></dd>
				</dl>	
				<dl v-show="isShowSSXW">
					<dt><p>膳⻝纤维</p></dt>
					<dd v-show="isShowSSXW"><span>膳⻝纤维</span><i>{{dietaryFiber}}g</i></dd>
				</dl>				
			</div>
		</div>

		<div class="butBoxFixed">
			<span class="" @click="toIndex()">首页</span>
			<span class="active" @click="generateRecipes()">生成食谱</span>
		</div>
	</div>
	<script src="../js/libs/jquery-1.10.1.min.js"></script>
	<script src="../js/libs/vue.min.js"></script>
	<script src="../js/libs/echarts.min.js"></script>
	<script src="../js/libs/jsrsasign-all-min.js"></script>
	<script src=".././config.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/reference.js"></script>
</body>
</html>
