.loading{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .loadingBox{
        background: url("../../image/loading/loading.gif") no-repeat;
        background-size: 1.875rem 1.875rem;
        width: 1.875rem;
        height: 1.875rem;
    }
}